In [1]:
import pandas as pd
import numpy as np

### If my health and spell damage were determined by 6d4 die and my opponent's health and spell damage is determined by 4d6 die I have a feeling my opponent will win the majority of random matches.

In [2]:
number_of_rows = 3333
my_columns = 6
enemy_columns = 4
my_health = np.random.choice([1,2,3,4], number_of_rows*my_columns).reshape(number_of_rows,my_columns)
enemy_health = np.random.choice([1,2,3,4,5,6], number_of_rows*enemy_columns).reshape(number_of_rows,enemy_columns)
my_spells = np.random.choice([1,2,3,4], number_of_rows*my_columns).reshape(number_of_rows,my_columns)
enemy_spells = np.random.choice([1,2,3,4,5,6], number_of_rows*enemy_columns).reshape(number_of_rows,enemy_columns)

In [3]:
my_health = pd.DataFrame(my_health)
enemy_health = pd.DataFrame(enemy_health)
my_spells = pd.DataFrame(my_spells)
enemy_spells = pd.DataFrame(enemy_spells)

In [4]:
my_health['my_hp'] = my_health.sum(axis=1)

In [5]:
my_health

      0  1  2  3  4  5  my_hp
0     4  2  3  3  4  4     20
1     4  3  1  2  2  4     16
2     1  3  1  4  3  3     15
3     2  4  4  3  2  4     19
4     3  2  2  4  1  3     15
...  .. .. .. .. .. ..    ...
3328  2  3  2  4  4  3     18
3329  2  2  3  1  3  1     12
3330  2  2  4  4  4  2     18
3331  4  1  1  1  3  3     13
3332  1  2  4  4  1  3     15

[3333 rows x 7 columns]

In [6]:
enemy_health['enemy_hp'] = enemy_health.sum(axis=1)

In [7]:
enemy_health

      0  1  2  3  enemy_hp
0     2  4  3  4        13
1     5  2  5  6        18
2     5  4  4  2        15
3     4  1  5  2        12
4     2  6  4  1        13
...  .. .. .. ..       ...
3328  4  6  5  2        17
3329  1  5  6  4        16
3330  1  6  2  3        12
3331  1  4  6  6        17
3332  5  5  2  5        17

[3333 rows x 5 columns]

In [8]:
my_spells['my_spell_damage'] = my_spells.sum(axis=1)
enemy_spells['enemy_spell_damage'] = enemy_spells.sum(axis=1)

In [9]:
my_spells

      0  1  2  3  4  5  my_spell_damage
0     4  2  3  2  1  4               16
1     4  4  2  2  3  4               19
2     1  1  2  4  1  2               11
3     3  4  3  4  2  2               18
4     4  4  2  1  1  1               13
...  .. .. .. .. .. ..              ...
3328  4  4  4  2  2  3               19
3329  1  3  2  2  4  1               13
3330  3  4  1  2  3  1               14
3331  3  2  4  4  4  2               19
3332  1  2  1  4  1  3               12

[3333 rows x 7 columns]

In [10]:
enemy_spells

      0  1  2  3  enemy_spell_damage
0     1  3  5  4                  13
1     5  5  1  6                  17
2     4  1  1  2                   8
3     4  6  1  2                  13
4     3  1  5  2                  11
...  .. .. .. ..                 ...
3328  6  4  5  5                  20
3329  5  3  1  3                  12
3330  1  4  3  1                   9
3331  6  4  3  5                  18
3332  6  5  5  2                  18

[3333 rows x 5 columns]

In [186]:
def mage_duel(battles=1):
    # Create a dataframe that will hold number of wins.
    win_count = pd.DataFrame({'me': [0], 'enemy_mage': [0]})
    while battles > 0:
        # Set my hit points.
        my_health_tracker = np.random.choice([1,2,3,4], 6).sum()
        # Set enemy's hit points
        enemy_health_tracker = np.random.choice([1,2,3,4,5,6], 4).sum()
    
        # This will decide who attacks first each round.
        attack_first = []
    
        # The while loop for the battle
        while my_health_tracker > 0 or enemy_health_tracker > 0:
            #print(f"Your current hit points is: {my_health_tracker}")
            #print(f"The enemy mage's current hit points is: {enemy_health_tracker}")
            
            # Randomly choose who attacks first for the round.
            attack_first = np.random.choice(['me','opponent'])
            if attack_first == 'me':
                my_spell_damage = np.random.choice([1,2,3,4], 6).sum()
                #print(f'You inflicted {my_spell_damage} magic damage.')
                enemy_health_tracker = enemy_health_tracker - my_spell_damage
                if enemy_health_tracker <= 0:
                    break
                #print(f'Enemy mage has {enemy_health_tracker} hit points remaining.')
                enemy_spell_damage = np.random.choice([1,2,3,4,5,6], 4).sum()
                #print(f'The enemy mage inflicted {enemy_spell_damage} magic damage.')
                my_health_tracker = my_health_tracker - enemy_spell_damage
                if my_health_tracker <= 0:
                    break
               # print(f'You have {my_health_tracker} hit points remaining.')
            else:
                enemy_spell_damage = np.random.choice([1,2,3,4,5,6], 4).sum()
                #print(f'The enemy mage inflicted {enemy_spell_damage} magic damage.')
                my_health_tracker = my_health_tracker - enemy_spell_damage
                if my_health_tracker <= 0:
                    break
                #print(f'You have {my_health_tracker} hit points remaining.')
                my_spell_damage = np.random.choice([1,2,3,4], 6).sum()
                #print(f'You inflicted {my_spell_damage} magic damage.')
                enemy_health_tracker = enemy_health_tracker - my_spell_damage
                if enemy_health_tracker <= 0:
                    break
                #print(f'Enemy mage has {enemy_health_tracker} hit points remaining.')
        if my_health_tracker <= 0:
            win_count.enemy_mage += 1
            print('The last thing you see is the enemy mage standing over your body.')
        else:
            win_count.me += 1
            print("You stand over your opponent's lifeless body.")
        battles -= 1
    print(win_count)

In [206]:
mage_duel(100)

You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
The last thing you see is the enemy mage standing over your body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
You stand over your opponent's lifeless body.
   me  enemy_mage
0  58          42

## Takeaway

It seems as if throwing 6 four-sided die returns, on average, higher sums than throwing 4 six-sided die.